@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
body {
  background-color: var(--color-light);
}

@theme {
  --color-primary: #2A2927;
  --color-primary-dull: #585651;
  --color-light: #E3D8CC;
  --color-borderColor: #C3B6A5;
  --color-black: #2A2927;
  --color-white: #E3D8CC;
}
